# Getting and Knowing your Data

### Step 1. Import the necessary libraries and check for its version

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable.
### Data Ingestion

### Step 4. See the first 5 entries

### Step 5. What is the number of observations in the dataset?
### How many rows and columns?
#### Print the column names

In [ ]:
# Solution 1

In [ ]:
# Solution 2

### Step 6. Slicing between rows

### Step 7. Getting Subset of DataFrame/ Series

#### Hint : Learn about .iloc operator

### Step 8. Check for duplicates and drop them

### Step 9. Which was the most-ordered item? 
### Plot a graph for the same. Put the text on top.
### Use List comprehension for veg/non veg

In [ ]:
c

In [ ]:
# Solution 2

### Step 10. For the most-ordered item, how many items were ordered?

### Step 11. What was the most ordered item in the choice_description column?

### Step 12. How many items were orderd in total?

### Step 12a. Get the details of highest ordered item
#### Hint : Use Conditions

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

#### Step 13.b. Change the type of item price to float

#### Step 13.c. Check the item price type

### Step 14. How much was the revenue for the period in the dataset?

### Step 15. How many orders were made in the period?

### Step 16. What is the average revenue amount per order?

### Step 17. How many different items are sold?

###Step 18 : How many orders have revenue less than 10 dollars

###Step 19 : Plot a graph of Revenue with rolling mean window as 100

### Step 20 : Take the different revenue, divide it into low, medium and high region and then plot pie chart